<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List</title>
</head>
<body>
  <app-task-creator class="task-creator" (aoCriarTarefa)="addTarefa($event)" (onCloseTask)="setStatus($event)" *ngIf="showTaskCreator"></app-task-creator>
  <app-app-nav-bar class = "nav-bar" (statusCreator)="setStatus($event)" (displayOnlyThatCards)="grauToDisplay($event)"></app-app-nav-bar>
  <app-task-window class = "task-window" [listaTarefas]="tarefas" [grauOfCardToDisplay] = "grauOfCardToDisplay"></app-task-window>
</body>
</html>
